a {
    padding: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.details {
    padding: 0px;
    padding-left: 4px;
}

#logo {
    padding: 5px;
    text-decoration: none;
    color: black;
}

#logo:hover {
    color: grey;
}

.dealbar {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

/*----------Search Bar----------*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }

button:hover {
    background: #ccc;
  }

.search button {
    float: none;
    display: block;
    text-align: left;
    top: 10px;
    margin: 0;
    padding-top: 5px;
  }

.wrap {
    padding-top: 10px;
    padding-left: 0px;
    width: 100%;
}