a {
    padding-left: 20px;
    padding-right: 5px;
    margin-right: 5px;
    text-decoration: none;
}

/*----------details hover info----------*/
#details {
    padding: 0px;
    padding-left: 4px;
}

.details2 {
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
    background-color: rgb(214, 214, 214)
}

/*-------------------------------------*/

#logo {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.logocol {
    padding-top: 10px;
}

#logo:hover {
    color: grey;
}

.dealbar {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.line {
    border: 1px solid rgb(136, 136, 136);
    margin: 0px;
    padding-top: 2px;
}

/*----------Search Bar----------*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }

button:hover {
    background: rgb(161, 161, 161);
  }

.search button {
    float: none;
    display: block;
    text-align: left;
    top: 10px;
    margin: 0;
    padding-top: 5px;
  }

.wrap {
    padding-top: 10px;
    padding-left: 0px;
    width: 100%;
}


/*----------Hover for dropdown menus----------*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.link:hover {
    color: rgb(0, 0, 0)
 }

 .dropdown-link a {
    color: rgb(0, 0, 0) !important;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1px;
}

/*----------Account Icons----------*/
.account {
    padding-top: 10px;
}

